{% extends "exhibit/base.html" %}
{% load staticfiles %}
{% block title %}Welcome to our Gallery{% endblock %}
{% block stylesheet %}{% static "css/base.css" %}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/preview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bxslider.css' %}"/>
{% endblock %}
{% block header %}
    <div class="header_logo">
        <a href="http://localhost:8000/"><img src="{% static 'logo.jpg' %}" alt="AllaGallery" border="0"></a>
    </div>
{% endblock %}
{% block slider %}
    <!--start-->
    <div id='slider'>
        <ul class="bxslider">
            <li><img src="{% static 'slider/1-b.png' %}" /></li>
            <li><img src="{% static 'slider/2-b.png' %}" /></li>
            <li><img src="{% static 'slider/3-b.png' %}" /></li>
            <li><img src="{% static 'slider/4-b.png' %}" /></li>
        </ul>
    </div>
    <!--end-->
{% endblock %}
{% block main_content %}
    {% for exhibit in object_list|slice:":9" %}
        <div class="img">
            <div class="header_img">
                <h2>{{ exhibit.title }}</h2>
            </div>
            <div class="body_img">
                <a href="{% url 'gallery:detail' exhibit.id %}">
                    <img src="/media/{{ exhibit.original_img }}" width="300">
                </a>
            </div>
            <div class="img_descr">
                <p>Author: {{ exhibit.author }}</p>
                <p>Creation date: {{ exhibit.creation_date|date:"d M Y" }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="{% static 'js/jquery.bxslider.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                mode: 'fade',
                auto: true,
                autoControls: true,
                pause: 2000
            });
        });
    </script>
{% endblock %}
